body {
    background-color: black;
}

h1 {
    font-size: 8vh;
    color: white;
    text-align: center;
}

h2 {
    font-size: 4vh;
    color: white;
    text-align: center;
}

p {
    font-size: 3vh;
    color: white;
}

input[type=submit] {
    font-size: 2.5vh;
    border-radius: 4vh;
    padding: 1.25vh 2.5vh;
}

button {
    font-size: 2.5vh;
    border-radius: 4vh;
    padding: 1.25vh 2.5vh;
}

.center {
    margin: auto;
}

.holder {
    width: auto;
    display: flex;
    margin: auto;
}

.holder img {
    width: 100%;
    height: auto;
}


img {
    max-height: 50vh;
    width: auto;
}


.screenshot-image {
  width: 150px;
  height: 90px;
  border-radius: 4px;
  border: 2px solid whitesmoke;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 5px;
  left: 10px;
  background: white;
}

.display-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 5% auto;
  position: relative;
}

video {
  //margin: 5% auto;
  width: 100%;
  background: rgba(0,0,0,0.2);
}

.video-options {
  position: absolute;
  left: 20px;
  top: 30px;
}
