{% extends 'base.html' %}

{% block content %}
    <p>
        Press "Choose File" to take a picture<br>
        Please take the photo horizontally for best results
    </p>
    <input type="file" id="image" name="image" accept="image/*" capture="environment">
    <br><br><br>
    <button id="submit" style="cursor:pointer;z-index:99;">Submit Photo</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $('#submit').on('touchstart click', function() {
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                $.post("{{ url_for('post_image') }}",
                {
                    data: reader.result
                },
                function() {
                    // Redirect to review_image page
                    window.location.href = "{{ url_for('review_image') }}";
                });
            };

            if (file) {
                reader.readAsDataURL(file);
            }
        });

        function testRedirect() {
            window.location.href = "{{ url_for('review_image') }}";
        }
    </script>
{% endblock %}