{% extends 'base.html' %}

{% block content %}
    <p>Press "Choose File" to take a picture</p>
    <input type="file" id="image" name="image" accept="image/*" capture="environment">
    <br><br><br>
    <button id="submit" onclick="testRedirect()">Submit Photo</button>
    <script>
        function sendURL() {
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                $.post("{{ url_for('post_image') }}",
                {
                    data: reader.result;
                },
                function() {
                    // Redirect to review_image page
                    window.location.href = "{{ url_for('review_image') }}";
                });
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        }

        function testRedirect() {
            window.location.href = "{{ url_for('review_image') }}";
        }

        var submit = $('#submit);
        submit.on('click touchstart', testRedirect());


    </script>
    <!--        let clickOrTouchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';-->

<!--        document.getElementById('submit').addEventListener(clickOrTouchEvent, testRedirect());-->


{% endblock %}