{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>Please review the image</p>
                <br>
                <p>If the image is clear and the license is center, press submit</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="holder">
                <img src="{{ url_for('display_capture') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <form action="{{ url_for('display_results') }}" style="text-align: center;">
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="col-sm-3">
                <form action="{{ url_for('stream_page') }}" style="text-align: center;">
                    <input type="submit" value="Retry">
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
{% endblock %}