{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <br>
                <p>Please hold your license up to the camera</p>
                <br>
                <p>Ensure that you are in a well lit area, and your license is centered in the screen</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row" style="text-align:center;">
            <div class="hodler">
                <img src="{{ url_for('camera_feed') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form action="{{ url_for('review_image') }}" style="text-align: center;">
                    <input type="submit" value="Capture image">
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <script>
        const constraints = {
          video: {
            width: {
              ideal: 1080,
            },
            height: {
              ideal: 720,
            },
          }
        };

        const startStream = async (constraints) => {
          const stream = await navigator.mediaDevices.getUserMedia(constraints);
          handleStream(stream);
        };

        startStream(constraints);
    </script>
{% endblock %}